.navbar{
    height:2.5rem;
    background-color:rgb(56, 56, 251) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width:fit-content;
    padding:0.6rem 0;
    
}
.navbar>ul{
    display: flex;
    gap:30px;
    /* text-decoration: none; */
}
.navLi{
text-decoration: none;
color:white;
}
li{
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    color:whitesmoke;
    cursor: pointer;
}